<template>
  <div class="about">
    <h1>Select how many apples should be red for demo purposes:</h1>
    <div class="flex space-x-4 justify-center pt-6 pb-6">
      <button class="btn-secondary" @click="sendNoOfRedApples(0)">0 apple</button>
      <button class="btn-secondary" @click="sendNoOfRedApples(1)">1 apple</button>
      <button class="btn-secondary" @click="sendNoOfRedApples(2)">2 apples</button>
      <button class="btn-secondary" @click="sendNoOfRedApples(3)">3 apples</button>
    </div>
    <span class="font-bold">The chatbot says:</span>
    <p>{{ chatbot_message || 'Press one of the buttons above!' }}</p>
    <div class="flex space-x-4 justify-center pt-6 pb-6" v-show="chatbot_message">
      <button class="btn-primary" @click="sendHumanResponse(0)">0 apple</button>
      <button class="btn-primary" @click="sendHumanResponse(1)">1 apple</button>
      <button class="btn-primary" @click="sendHumanResponse(2)">2 apples</button>
      <button class="btn-primary" @click="sendHumanResponse(3)">3 apples</button>
    </div>
    <div v-show="human_message">
      <p>Your response has been saved.</p>
      <p class="italic text-gray-400">Your response: "{{ human_message }}"</p>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'Chat',
  data() {
    return {
      chatbot_messages: [],
      human_messages: [],
      number_of_red_apples: 0,
      chatbot_message: null,
      thnx_message: null,
      human_message: null,
    };
  },
  methods: {
    sendNoOfRedApples(no) {
      this.number_of_red_apples = no;

      axios
        .get(`${process.env.VUE_APP_CHATBOT_API_URL_BASE}/chat/red_apples/?num=${no}`)
        .then((response) => {
          if (response.status === 200) {
            this.chatbot_messages = [response.data];
            const { utterance } = response.data;
            this.chatbot_message = `${utterance.charAt(0).toUpperCase()}${utterance.slice(
              1,
              utterance.length,
            )} of the apples are red.`;
          } else {
            // TODO: Show error message/Retry!
            console.error(response);
          }
        });
    },
    sendHumanResponse(no) {
      this.human_messages = [no];
      this.human_message = no;
      const msg = {
        session_id: Date.now(),
        chatbot_messages: this.chatbot_messages,
        human_messages: this.human_messages,
        timestamp: Date.now(),
      };
      axios
        .post(`${process.env.VUE_APP_CHATBOT_API_URL_BASE}/chat/human-response/`, msg)
        .then((response) => {
          if (response.status === 200) {
            console.log(response);
          } else {
            // TODO: Show error message/Retry!
            console.error(response);
          }
        });
    },
  },
  mounted() {},
};
</script>
