<template>
  <div class="end text-center">
    <h2 class="text-center">Instrukciók</h2>
    <p class="text-left">
      Ebben a kísérletben egy chatbottal fogsz egy játékot játszani. A chatbotnak mutatunk
      <span class="font-bold">3 almát</span>, és ő egy szóban megpróbálja elmondani neked, hogy
      <span class="font-bold"> ezek közül hány darab piros</span>. A cél mindkettőtök számára az,
      hogy a chatbot válaszából sikeresen kitaláld, hogy hány darab alma piros.
    </p>
    <button class="btn-primary mt-6" @click="go_to_chat">Kísérlet megkezdése</button>
  </div>
</template>

<script>
export default {
  name: 'Intro',
  methods: {
    go_to_chat() {
      this.$router.push({ path: 'chat' });
    },
  },
};
</script>
