<template>
  <div id="nav">
    <router-link to="/intro">Instructions</router-link> |
    <router-link to="/chat">Chat</router-link> |
    <router-link to="/end">End</router-link>
  </div>
  <div class="max-w-sm md:max-w-xl lg:max-w-2xl mx-auto">
    <router-view/>
  </div>
</template>
